DATABASE_URL=postgresql://avnadmin:AVNS_RcubS7a5sjv84bpjYAT@pg-163fdada-lavanyadivi111-161a.i.aivencloud.com:26601/defaultdb?sslmode=require
GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile
CORS_ORIGINS=http://localhost:5173,https://your-frontend.vercel.app
RESEND_API_KEY=re_ctyVx99n_LeZzqPZg11oNgwUGWEqZd4T6
RESEND_FROM=trialmind <onboarding@resend.dev>
DEMO_MODE=false
AUTH_SECRET=l0629_kUdMzs3tUJXxmDKf0GyLiMf50q1ao4rOKKz48Gl868C5PaqvtyBshpTKPxELgAq-Xf09fmJG-JamEGhQ
